{{define "/chat"}}
<!doctype html>
<html style="height:100%">

<head>
{{template "header"}}
    <link rel="stylesheet" href="/assets/css/chat.css">
</head>

<body data-type="index" style="height:100%">

{{template  "top_head"}}
<div class="tpl-page-container tpl-page-header-fixed" style="height:100%">

{{template  "slide_nav"}}

    <div id="chat" class="tpl-content-wrapper" style="height:100%">
        <div class="tpl-content-page-title">
            客服
        </div>
        <ol class="am-breadcrumb">
            <li><a href="/index" class="am-icon-home">首页</a></li>
            <li class="am-active">客服</li>
        </ol>
        {{/*聊天室*/}}
        <div class="chat">
            {{/*用户列表*/}}
            <div class="chat-list">
                <div class="chat-list-head">
                    用户列表
                </div>
                <div class="chat-list-user">
                    <template v-for="(item, index) in iplist">
                        <div @click="chat(index)" class="chat-list-item chat-active">
                            <div class="chat-list-ava">
                                <img src="/assets/img/custom.png" alt="">
                            </div>
                            <div class="chat-list-name">
                                <i class="am-icon-map-marker"></i>&nbsp;<b>${item.ip}</b>
                            </div>
                            <div class="chat-list-notice">${item.no_read.Int32 == 0?"":item.no_read.Int32}</div>
                        </div>
                    </template>
                </div>

            </div>

            {{/*聊天框*/}}
            <div class="chat-room" id="chatroom" style="display:none;">
                <div class="chat-room-head">
                    <div class="chat-room-head-ip">
                        <b>IP:</b>${showroom.ip}
                    </div>
                    <div style="display: inline-block;margin: 0px 10px;">
                        来源站点： ${showroom.app_name}
                    </div>
                    <div class="chat-room-head-useremail">
                        <div>Name: ${showroom.name.String}</div>
                        <div>Email: ${showroom.email.String}</div>
                    </div>

                </div>


                <div class="chat-room-box">

                    <template v-for="msg in chatlog">
                        <tempalte v-if="msg.src_type == 'ip'">
                            <div class="chat-room-item-left">
                                <div class="chat-room-msg">
                                    ${msg.content}
                                </div>
                                <div class="chat-room-time">${timestampToTime(msg.create_at)}</div>
                            </div>
                        </tempalte>
                        <tempalte v-if="msg.src_type == 'user'">
                            <div class="chat-room-item-right">
                                <div class="chat-room-msg">
                                    ${msg.content}
                                </div>
                                <div class="chat-room-time">${timestampToTime(msg.create_at)}</div>
                            </div>
                        </tempalte>
                    </template>

                </div>
                <div class="chat-room-input">
                    <input type="text" v-model="msg" placeholder="输入消息">
                    <div @click="sendMsg()"  class="chat-room-send"><i style="color:#fff" class="am-icon-send-o"></i></div>
                </div>
            </div>
        </div>

    </div>

</div>


{{template "js"}}
<script src="/assets/js/chat.js"></script>
</body>
</html>
{{end}}