{{define "/sitemap"}}
<!doctype html>
<html>

<head>
{{template "header"}}
</head>

<body data-type="index">

{{template  "top_head"}}
<div class="tpl-page-container tpl-page-header-fixed">

{{template  "slide_nav"}}

    <div id="sitemap" class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            站点清单
        </div>
        <ol class="am-breadcrumb">
            <li><a href="/index" class="am-icon-home">首页</a></li>
            <li class="am-active">站点清单</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 列表
                </div>
            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button @click="window.location.href = '/sitemap/edit'" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field" v-model="search" placeholder="名称或者网址">
                            <span class="am-input-group-btn">
            <button @click="searchSite()" class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
          </span>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">名称</th>
                                    <th class="table-type">网址</th>
                                    <th class="table-date">UUID</th>
                                    <th class="table-date">创建时间</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="app in appList">
                                    <td>${app.id}</td>
                                    <td>${app.name}</td>
                                    <td><a :href="app.url">${app.url}</a></td>
                                    <td>${app.uuid}</td>
                                    <td>${timestampToTime(app.create_at)}</td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" @click="window.location.href = '/sitemap/edit?aid=' + app.id" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                <button type="button" @click="ResetUUID(app.id)" class="am-btn am-btn-default am-btn-xs am-text-success am-text-secondary"><span class="am-icon-refresh"></span> 重置UUID</button>
                                                <button type="button" class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制JS链接</button>
                                                <button type="button" @click="DeleteSite(app.id)" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="am-cf">

                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li id="uPage" @click="upPage()"><a href="javascript:;">«</a></li>
                                        <template v-for="page in pagelist">
                                            <li @click="jumPage(page.num)" :class="page.class"><a href="javascript:;">${page.num}</a></li>
                                        </template>
                                        <li id="downPage" @click="downPage()"><a href="javascript:;">»</a></li>
                                    </ul>
                                </div>
                            </div>
                            <hr>

                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>


    </div>

</div>


{{template "js"}}
<script src="/assets/js/sitemap.js"></script>
</body>
</html>
{{end}}