<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./chatbox2.css">
</head>

<body>
    <div class="chatbox" id="chatbox">
        <!-- 提示框 -->
        <div @click="show2()" class="chatbox-notice" id="notice" v-cloak>
            <img class="chatbox-notice-pic" src="./btn2.png" alt="">
        </div>
        <!-- 聊天框 -->
        <div class="chatbox-room" id="box" style="display: none;" v-cloak>
            <div class="chatbox-room-head">
                <div class="chatbox-head-tit">
                   <img src="./tit1.png" alt="" style="width:200px !important;height: 50px;">
                </div>
                <div class="chatbox-close">
                    <img @click="show2()" src="http://cus.gcbodycheck.com/assets/img/close.png" alt="">
                </div>
            </div>
            <div class="chatbox-room-box" id="boxcroll">

                <template v-for="log in chatList">
                    <div v-if="log.src_type == 'user'" class="chatbox-room-item-left">
                        <img class="chatbox-room-ava" src="http://cus.gcbodycheck.com/assets/img/kefu.png" alt="">
                        <div class="chatbox-room-msg">
                            {{log.content}}
                        </div>
                        <div class="chatbox-room-time">{{timestampToTime(log.create_at)}}</div>
                    </div>

                    <div v-if="log.src_type == 'ip'" class="chatbox-room-item-right">
                        <div class="chatbox-room-msg">
                            {{log.content}}
                        </div>
                        <img class="chatbox-room-ava" src="http://cus.gcbodycheck.com/assets/img/user.png" alt="">
                        <div class="chatbox-room-time">{{timestampToTime(log.create_at)}}</div>
                    </div>
                </template>

            </div>
            <div class="chatbox-room-input" id="msginput">
                <input name="msg" placeholder="請輸入消息" v-model="msg">
                <div class="chatbox-room-btn" @click="sendMsg()">
                    發送
                </div>
            </div>
            <div class="chatbox-init" @click="beginChat()" id="beginchat">
                聯絡亚翰医疗服务集团
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
    <script src="./chatbox.js?id=1&uuid=03197a9e-6f36-4f1d-8349-7eca3fb83c37" id="chatboxjs"></script>
</body>

</html>